* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #F7F7F7;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 100%;
}

#page {
  height: 100%;
  text-align: center;
  position: relative;
}

.container {
  display: table;
  margin: 0 auto;
  padding: 1em;
  position: relative;
  top: 50%;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.answer {
  color: #4E2B63;
  display: block;
  font-family: 'Lobster', cursive;
  font-size: 9em;
  line-height: 0.8;
  margin: 0 0 24px;
}

.cta {
  font-size: 24px;
}

.cta__message {
  margin-bottom: 18px;
}

.button {
  background-color: #23b7fb;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  padding: 12px 24px 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #55c7fc;
}


@media (orientation: portrait) {
  .answer {
    margin-bottom: 0.5em;
  }
}


@media (min-width: 550px) {

  .answer {
    font-size: 15em;
    margin-bottom: 0.75em;
  }

}


@media (min-width: 1000px) {

  .answer {
    font-size: 20em;
    margin-bottom: 0.5em;
  }

}